.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 100px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media screen and (max-width: 570px){

    .shop-container{
        grid-template-columns: 1fr ;
        padding-top: 100px;
    }

    .product-container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}