.header{
    height: 80px;
    background-color: rgba(28, 43, 53, 1);
    padding: 0 100px;
    margin: 0;
    width: 100 vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.header a{
    text-decoration: none;
    color: white;
    margin-left: 32px;
    font-size: 20px;
}

nav.header a:hover{
    color: orange;
    
}

@media screen and (max-width: 570px) {
    .header{
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        justify-content: center;
    }

    nav.header a{
        padding: 0 10px 5px 10px;
        margin: 0;
        
    }

    nav.header a:hover{
        border-radius: 10px;
        border: 1px solid greenyellow;
        
    }
  }